 body{
 	margin: 0;
 	background: #f1f1f1;
 }
 .logo{
     margin-top: 6px;
       height: 48px;
       width: 48px;
       float: left;
 }
.logo_img{
    height: 48px;
    width: 48px;
    border-radius: 50%;
   
}
.navbar{
	height: 60px;
	width: 100%;
	background: #222;
<<<<<<< HEAD
<<<<<<< HEAD
	color:#9d9d9d;
	position: fixed;
	top: 0;
=======
	color:#9d9d9d
>>>>>>> fab5b5766fbf88ccb7c8b9b3b1242be4c6d5b00c
=======
	color:#9d9d9d
=======
	color:#9d9d9d;
	position: fixed;
	top: 0;
>>>>>>> 58a49dc5f8f0323935c854c929c1b5a334c5572a
>>>>>>> fc873e95db6a490ef6a0f29ab8c9b9a08fcc853a
}
.navbar a{
	color:#9d9d9d;
	font-size: 1em;
	text-decoration: none;
	line-height: 60px;
}
.navbar-name{
	font-size: 2em;
	margin-left: 10px;
}
.navbar ul{
	list-style: none;
}
.navbar-nav {
	display: inline-block;
	float: right;
	line-height: 60px;
	margin-top: 0;
	margin-right: 20px;
}
.active{
	background:#080808
}
.navbar-nav > li{
	display: inline-block;
	margin: 0;
}
.navbar-header{
	display: inline-block;
}
#content{
	
<<<<<<< HEAD
<<<<<<< HEAD
=======
	margin: 0;
	
	width: 100%;
}
#do_list{
=======
>>>>>>> fc873e95db6a490ef6a0f29ab8c9b9a08fcc853a
	margin-top: 60px;
	margin-left: 0px;
	margin-right: 0px;
	width: 100%;
}
#do_list{
	list-style: none;
<<<<<<< HEAD
=======
	margin: 0;
	
	width: 100%;
}
#do_list{
>>>>>>> fab5b5766fbf88ccb7c8b9b3b1242be4c6d5b00c
=======
>>>>>>> 58a49dc5f8f0323935c854c929c1b5a334c5572a
>>>>>>> fc873e95db6a490ef6a0f29ab8c9b9a08fcc853a
	font-size: 1.4em;
	font-family: "微软雅黑";
	margin-left: 0;
	margin-right: 0;
<<<<<<< HEAD
<<<<<<< HEAD
	color: #494a4a;
=======
	
>>>>>>> fab5b5766fbf88ccb7c8b9b3b1242be4c6d5b00c
=======
	
=======
	color: #494a4a;
>>>>>>> 58a49dc5f8f0323935c854c929c1b5a334c5572a
>>>>>>> fc873e95db6a490ef6a0f29ab8c9b9a08fcc853a
	
}
#do_list>li{
	border-bottom: 1px solid #a1a1a1;
	padding-bottom: 10px;
}
<<<<<<< HEAD
<<<<<<< HEAD
=======
#do_list,.today_list{
	list-style: none;
}
>>>>>>> fab5b5766fbf88ccb7c8b9b3b1242be4c6d5b00c
=======
#do_list,.today_list{
	list-style: none;
}
=======
>>>>>>> 58a49dc5f8f0323935c854c929c1b5a334c5572a
>>>>>>> fc873e95db6a490ef6a0f29ab8c9b9a08fcc853a
