body{
    margin:0;
    padding: 0;
    font-size: 12px;
    font-family: "微软雅黑";
    color:white;;
}
.container{
    width: 100%;
    height: 80px;
    background-color: rgba(1,1,1,0.7);
    margin-bottom: 50px;
}
header{
    font-size: 30px;
    font-weight: bold;
    text-indent: 80px;
}
.container p{
    font-size: 15px;
    text-indent: 80px;
    /*font-style: italic;*/
}
.wrap{
    width: 600px;
    height: 450px;
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 5px;
}
.item,.showBlock{
    width: 150px;
    height: 150px;
    float: left;
    background-color:#333333;
    z-index: 1;
    position: relative;
}
.item img{
    width: 100%;
    height: 100%;
}
.auto{
    width: 100%;
    height: 100%;
    float: left;
    background-color: RGBA(0,0,0,.5);
    z-index: 2;
    position: absolute;
    top: 0;
    text-align: center;
    /* font-weight: bold; */
    line-height: 150px;
    display: block;
}
.auto a{
    text-decoration: none;
    color: white;
    font-size: 15px;
}
.auto a:hover{
    color: darkgreen;
    font-size: 18px;
}